

::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

header div {
    background-color: #fff;
    width: 100%;
    text-align: center;
}

.sec1 {
    object-fit: fill;
    width: auto;
    height: 100vh;
    margin-bottom: 62%;
    display: block;
}

.sec1 img {
    position: absolute;
    z-index: -999;
    object-fit: fill;
}

.sec1div {
    border-radius: 50%;
    border: 22px solid #FF6D01;
    height: 93%;
    text-align: center;
    width: 46%;
    margin: 25%;
    margin-top: 10%;
    position: absolute;
}

.whitebg {
    background-color: #fff;
    border-radius: 50%;
    height: 80%;
    width: 80%;
    margin: 10%;
    position: absolute;
}

.sec1c {
    width: 73%;
    margin: 13%;
    margin-top: 25%;
    font-size: 18px;
    align-items: center;
    color: #A1A1A1;
    text-align: center;
    line-height: 1.5;
}

.sec1c h4 { 
    font-size: 36px;
    color: #333;
    margin-bottom: 0;
}

.cta1 {
    background-color: #000;
    position: relative;
    top: 130%;
    padding: 5%;
    text-align: center;
    color: #fff;
}

.cta1 h1 {
    font-size: 98px;
    width: 100%;
    line-height: 1;
    margin-top: 0;
}

.cta1 p {
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 6%;
}

.cta1 input {
    border: 18px solid #fff;
    border-radius: 2px;
    width: 35%;
    font-size: 18px;
    color: #C5C5C5;
}

.cta1 button {
    border: 18px solid #FF6D01;
    color: #fff;
    background-color: #FF6D01;
    font-size: 18px;
    font-weight: bold;
    width: 20%;
    cursor: pointer;
}

.cta1 button:hover {
    color: #fff;
    background-color: #ee8535;
    border: 18px solid #ee8535;
}


/* section 2 begins here */

.sec2 {
    display: block;
    height: 100vh;
    margin-top: 15%;
    max-width: auto;
}

.sec2 div {
    text-align: center;
    width: 100%;
}

.sec2 h5 {
    font-size: 32px;
    color: #000;
    margin-bottom: 0; 
}

.sec2div p {
    width: 59%;
    color: #c5c5c5;
    margin-left: 20%;
    font-size: 16px;
    font-weight: light;
    line-height: 1.3;
    margin-top: 3%;
}

.abouts {
    display: flex;
    width: 12%;
    margin-top: 8%;
}

.about img {
    width: 58%;
    height: 58%;
    border-radius: 50%;
    border: 20px solid #FF6D01;
}

#mid {
    margin-right: 25%;
}

#lef {
    margin-left: 35%;
}

#irr {
    margin-left: 8%;
}

.mid_text {
    display: flex;
    text-align: center;
    position: relative;
    max-width: 85%;
    margin-top: -8%;
    margin-left: 6%;
    font-size: 17px;
    color: #c5c5c5;
}

.wahala {
   max-width: 80%;
   margin-left: 8%;
   line-height: 1.3;
   font-weight: light;
}

.sec2a {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
    max-width: 15%;
    margin-left: 42%;
    cursor: pointer;
}

.sec2a a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1.5px;
    border: 15px solid #FF6D01;
    background: #FF6D01;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
}


.sec2a a:hover {
    background: #000;
    border: 15px solid #000;
}

/* section 3 starts here */

.sec3 {
    height: 100vh;
    width: 100%;
    margin-top: 15%;
    background-image: url(/img/pexels-photo-3894378.jpeg);
    margin-bottom: 5%;
    padding: 30px;
    padding-top: 0;
    padding-bottom: 190px;
}

.coll {
    background: #fff;
    position: absolute;
    width: 42%;
    height: 70%;
    margin-left: 4%;
    padding: 20px;
    padding-left: 50px;
    margin-top: 30%;
    padding-bottom: 0;
}

.coll h6 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
}

.coll img {
    width: 15%;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* section4 starts here */

.sec4 {
    background-color: #fff;
    margin-top: 5%;
}

.right{
    text-align: left;
    font-size: 18px;
    color: #999;
    width: 42%;
    margin-left: 50%;
    line-height: 1.5;
    font-weight: light;
    margin-bottom: 2%;
}

.holder {
    display: inline-block;
    width: 100%;
}

.hold1 {
    width: auto;
    height: auto;
}

.hold1 img {
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 50%;
    border: 20px solid #FF6D01;
}

.hold2 {
    width: auto;
    height: auto;
    background: #F2F2F2;
    padding: 35px 90px;
}

.hold2 img {
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 50%;
    border: 20px solid #FF6D01;
}

.holding1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 17%;
    margin-right: 13% ;
}

.holding2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 12%;
    margin-right: 18%;
    margin-top: 2%;
}

.hold1 p {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.hold2 p {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.left {
    color: #999;
    text-align: left;
    font-size: 18px;
    color: #999;
    width: 40%;
    margin-left: 8%;
    margin-top: 2%;
    line-height: 1.5;
    font-weight: light;
    margin-bottom: 2%;
}

.bcg {
    background-color: #000;
    width: 100%;
    display: block;
    height: 95vh;
}

.one {
    display: flex;
    margin-left: 8%;
    margin-top: 4%;
}

.two {
    display: flex;
    margin-left: 8%;
    margin-top: 2%;
}

.podcast {
    text-align: center;
}

.podcast p {
    color: #ede9e9;
    font-size: 19px;
    width: 80%;
    line-height: 1.6;
}

.podcast h2 {
    color: #FF6D01;
    width: 80%;
    font-size: 72px;
    margin-bottom: 0;
}

/*  section 5 begins here */

.sec5 {
    background: #fff;
    margin-top: 5%;
}

.sec5_div {
    display: inline-flex;
    width: 100%;
}

.welcome {
    width: auto;
    margin-left: 10%;
}

.welcome h3 {
    font-size: 42px; 
    color: #333;
    margin-top: 5%;
    margin-bottom: 2%;
}

.deliver {
    color: #FF6D01;
    width: 50%;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10%;
}

.anc {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.5px;
    border: 22px solid #FF6D01;
    background: #FF6D01;
    cursor: pointer;
    padding-left: 50px;
    padding-right: 50px;
}

.anc:hover {
    background: #000;
    border: 22px solid #000;
}

.article {
    margin-top: 20%;
    width: 68%;
    color: #999;
    font-size: 17px;
    line-height: 1.5;
}

.imgdiv {
   width: 90%;
   height: 30%;
   margin-right: 10%;
   margin-left: -12%;
   margin-top: 1%;
}

.imgdiv img {
    width: 100%;
    height: 100%;
}


.bcg2 {
    background: #000;
    display: inline-flex;
    margin-top: 6%;
    padding: 80px;
    padding-bottom: 130px;
}

.raheem {
    width: 34em;
    height: 34em;
    margin-left: 3%;
    margin-right: 0;
}

.raheem img {
    width: 100%;
    border-radius: 50%;
    border: 22px solid #FF6D01;
    height: 100%;
    object-fit: cover;
}

.who {
    width: 45%;
    margin-left: 8%;
}

.who h3 {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 5%;
}

.deliver2 {
    color: #FF6D01;
    width: 85%;
    font-size: 22px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10%;
}

.article2 {
    width: 90%;
    color: #ede9e9;
    font-size: 18px;
    line-height: 2.3;
}

.who img {
    width: 15%;
}

/* section 6 starts here */

.sec6 {
    display: block;
    background: url(/img/bccfa363-6947-4cb7-baa0-0b3b2bb8b05d.jpeg);
    padding-top: 50px;
    object-fit: fill;
    margin-bottom: 20%;
    height: 100%;
}

.img_holder {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-left: -3%;
    margin-top: 15%;
}

.img_holder img {
    background-color: #FF6D01;
    padding: 10px;
    width: 8%;
    height: auto;
    margin-left: 5%;
    border-radius: 50%;
    border-style: outset;
    border: 2px solid #FF6D01;
    object-fit: cover;
    margin-bottom: -5%;
    cursor: pointer;
}

.sec6 h4 {
    font-size: 35px;
    color: #000;
    text-align: center;
    margin-top: 7%;
}

.whitebcg {
    background: #fff;
    padding: 60px;
}

.whitebcg p {
    color:#999;
    font-size: 17px;
    width: 75%;
    text-align: center;
    margin-left: 12%;
    line-height: 1.6;
}

.free {
    color:#FF6D01;
    text-decoration:none;
}

.orangebg {
    background: #FF6D01;
    padding: 100px;
    margin-bottom: -2%;
    text-align: center;
}

.orangebg h6 {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5%;
}

.orangebg a {
    color: #333;
    font-size: 20px;
    text-decoration: none;
    border: 18px solid #fff;
    background: #fff;
    padding: 2px 30px;
    letter-spacing: 1px;
    cursor: pointer;
}

.orangebg a:hover {
    color: #333;
    background:#999;
    border: 18px solid #999;
}

/* section 7 starts here */

.sec7div {
    display: flex;
    background: #fff;
    height: 100%;
    margin-bottom: 5%;
    justify-content: space-around;
}

.formimg {
    width: 23em;
    height: 23em;
    margin-top: -8%
}

.formimg img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
    border: 20px solid #FF6D01;
}

form {
    width: 35%;
    margin-top: -10%;
    margin-left: -18%;
    font-size: 17px;
    color: #333;
    line-height: 2;
    margin-bottom: 10%;
}

form input{
    border: 12px solid #F2F2F2;
    border-radius: 5px;
    padding: 5px;
    background: #F2F2F2;
    width: 100%;
    font-size: 16px;
    outline: none;
    
}

.email {
    display: flex;
    margin-bottom: 6%;
}

.mail1 {
    margin-left: 10%;
}

.emai {
    margin-left: 10%;
    margin-bottom: 6%;
}

#message {
    border: 13px solid #F2F2F2;
    border-radius: 5px;
    background: #f2f2f2;
    font-size: 16px;
    width: 100%;
    outline: none;
}


.submit input {
    border: 15px solid #FF6D01;
    border-radius: 0;
    background-color: #FF6D01;
    width: 96%;
    margin-left: 10%;
    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
    cursor: pointer;
}

.submit input:hover {
    border: 15px solid #999;
    background: #999;
    color: #000;
}

.active {
    width: 8%;
    position: absolute;
    border: 15px solid #fff;
    border-radius: 50%;
    background: #fff;
    object-fit: cover;
    margin-left: 36%;
    margin-top: -9%;
}